body{
  background-color: #0a97b0;
  text-align:center;

}
.title{
  text-align: center;
  font-size: 5rem;
  color:#6f0000;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;

}

.collection{
    list-style-type: none;
}
.images{
  display: inline-block;

}
.players{
  font-size: 2.5rem;
  color:#6f0000;

}
.footer{

    font-size: 1.2rem;
    color:#6f0000;
}
.displayImage{
   margin-top: 3%;
}
